*.lock
*/data
*/files

*/final-project/data

quickdraw_gen/

6-capstone-project/example/
6-capstone-project/final-project/ml-capstone-coursera.pdf
6-capstone-project/final-project/ml-capstone-coursera_feedback.pdf
*.csv